@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 50px 150px;
  color: grey;
  background-color: #303030;
  font-size: 1em;
}

/* space between icon and button name */
button > svg{
  margin-right: 5px;
}